.DS_Store
impl/README.md
Icon
logo.png
impl/codenet_raw/
# Python cache files
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Python virtual environments
.venv/
*/.venv/
**/.venv/

**/*.egg-info/**
